{% macro about() -%}
<!-- About Section Starts -->
<section id="about" class="p_100" data-scroll-index="1">
    <div class="container">
        <div class="row">
        <div class="col-lg-6">
            <h4 class="about-heading">About Me</h4>
            <div class="about-main">
            <p>
                A graduated computer science engineer seeking for new opportunities where I can utilize and contribute my problem solving and technical skills to the growth of the organization and further develop my abilities in the field of computer science. Passionate about web development, artificial intelligence, data science, and cloud technologies.
            </p>
            <p>
                More about me, currently I am enrolled in an online boot camp coding program in AI engineering with Strive School. During this time I’ve worked on various projects involving machine/deep learning, computer vision, Natural language processing.  
            </p>
            <button class="btn btn-primary cv-button">Download CV</button>
            <ul class="about-link">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-github"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
        </div>
        <div class="col-lg-6">
            <div class="skills">
                <h4>My Skills</h4>
                <div class="skill-bar">
                <div class="skill_item">
                    <h4>Python <span class="count">80</span>%</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="skill_item">
                    <h4>Machine Learning <span class="count">70</span>%</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="skill_item">
                    <h4>Deep Learning <span class="count">60</span>%</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="skill_item">
                    <h4>Web Design <span class="count">85</span>%</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="skill_item">
                    <h4>MySQL <span class="count">60</span>%</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>
    <!-- About Section Ends -->

{% endmacro %}