{% macro home_content() -%}

<!-- Home Content Starts -->
<section id="home-content" style="background: url(../static/banner-main.jpg); background-size: cover; background-position: 25% 75%;" data-scroll-index="0">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-1">
        <div class="home-text">
            <div class="home-text-inner">
            <h3>This is Sachin Pokharel</h3>
            <h1>A Data</h1>
            <h1 class="cd-headline clip">
            <span class="cd-words-wrapper">
                <b class="is-visible">Scientist.</b>
                <b>Engineer.</b>
            </span>
        </h1>
            <p>
            Experienced in Python, across a wide interest of fields. Especially on data analysis, data visualization, core machine learning (regressions, classification, etc), along with a good knowledge in deep learning.
            </p>
            <a class="btn btn-primary hire-me">Hire Me</a>
          </div>
      </div>
      </div>
      </div>
    </div>
</section>
<!-- Home Section Ends -->

{% endmacro %}

